{% extends 'user/home.html' %}
{% block content %}
<!-- {% load static %} -->
<div class="row 1">
    <div class="col-sm-3  " style=" padding-right: 5px;">
        <img src="{% static 'images/Rectangle 1.png' %}" alt="bank" style="height: 740px;">
    </div>
    <div class="col-sm-9">
    <div class="container ">
        <div> 
         <img src="{{data.Image.url}}" alt="" style="width: 90px;height: 100px;border-radius: 30px;margin-top:80px;margin-left:300px;">
        </div>
    <div class="row  ">  
        <div class="col-md-6 ">  
            <label for="Email"><b>Email</b></label><br>
           <p>{{data.email}}<br></p>
            <label for="Address"><b>Address</b></label><br>
            <p>{{ data.Address }}<br></p>
            <label for="age"><b>Age</b></label><br>
            <p>{{ data.age }}<br></p>
            <label for="AdharNumber"><b>AdharNumber</b></label><br>
            <p>{{data.AdharNumber}}</p>
          
        </div>
        <div class="col-md-6 " style="width:auto" required>
            <label for="username"><b>Username</b></label><br>
            <p>{{data.username}}<br></p>
            <label for="DOB"><b>DOB</b></label><br>
            <p>{{ data.DOB }}<br></p>
            <label for="Phonenumber"><b>Phonenumber</b></label><br>
            <p>{{data.Phonenumber}}<br></p>
            <label for="Pancardno"><b>Pancardno</b></label><br>
            <p>{{data.Pancardno}}<br></p>
        </div>
        <a href="{% url 'profileedit' id=data.id %}"><button><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg></i></button></a>
    </div>
    </div>
    <style>
        .container{
            background-color: #87b4a6;
            width: 700px;
            height: 620px; 
            margin-top: 20px;
            margin-left: 20px;
            border-radius: 20px;
            align-items: center;
          }
        button{
            border-radius: 40px;
            border: transparent;
            margin-left: 630px;
            margin-top:0px;
            width: 50px;
            height:50px;

          }
        
        .row{
            justify-content: center;
            font-size:large;
            margin-top:40px;
            
         }
        label{
            margin-top: 10px;
            margin-bottom:5px;
            font-weight:bolder;
        }
        p{
            color:#1e362a;
            font-size:large;
            font-weight: bold;
        }
          
    </style>
    {% endblock %}
